:root {
  /* avatar */
  /* color & background */
  --font-color:#111;
  --entry-background:#fff;
  --badge-color:#fff;
  --badge-background:#1a1a1a69;
  /*
    --subheadline-background:   #5a5a5a;
    --subheadline-a-icon-color: #fff;
    --subheadline-a-color:      #fff;
    */
  --subheadline-background:var(--headline-background-color);
  --subheadline-a-color:var(--link-color);
  --subheadline-a-icon-color:var(--headline-arrow-color);
  --anime-stat-text-color:#4682b4;
  --manga-stat-text-color:#9f6fb1;
  --anime-stat-text-background:#ddedfb;
  --manga-stat-text-background:#ffe1f4;
  --bar-stat-third-background:#d4d4d4;
  --bar-anime-stat-second-background:#a3c2db;
  --bar-background:#f45151;
  --main-border-color:var(--headline-background-color);
  --main-border-color-hover:transparent;
  --main-container-background:transparent;
  --main-container-background-hover:#ececec;
  --linear-gradient-background:linear-gradient(to right, #b347bb 0%, #9a5fbe 6.25%, #9b5ebe 12.5%, #688ec4 18.75%, #5c9cc8 25%, #51a8ca 31.25%, #44b5cb 37.5%, #32c8cf 43.75%, #32c8cf 50%, #44b5cb 56.25%, #51a8ca 62.5%, #5c9cc8 68.75%, #688ec4 75%, #9b5ebe 81.25%, #9a5fbe 87.5%, #b347bb 100%) 0% center / 400% auto;
  /* transition */
  --main-container-transition:all 1s cubic-bezier(0.26, 0.01, 0, 0.99), background-color 0.7s cubic-bezier(0.31, 0, 0, 0.96), border 0.4s linear;
  --shadow-transition:all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  --history-entry-transition:all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  /* animation */
  --bar-lifetime-first-animation-time:50s;
  --text-animation-time:4s;
  /* box-shadow */
  --main-elements-shadow:inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
  --secondary-elements-shadow:2px 1px 3px 0px rgba(154, 147, 140, 0.5);
  --secondary-elements-shadow-hover:5px 4px 8px 0px rgba(0, 0, 0, 0.25), 2px 5px 8px rgba(0, 0, 0, 0.22);
  --bar-lifetime-first-box-shadow:inset 1px 1px 2px 1px rgba(255, 255, 255, 0.33);
  --bar-third-shadow:inset -2px 5px 5px rgba(154, 147, 140, 0.5);
  --stat-names-shadow-hover:5px 4px 8px 0px rgba(0, 0, 0, 0.25), 2px 9px 8px rgba(0, 0, 0, 0.22);
  --page-shadow-start:0px 0px 20px 15px #8a35af40;
  --page-shadow-middle:0px 0px 20px 18px #b951e640;
  --page-shadow-end:0px 0px 20px 20px #8427ad40;
  /* border */
  --main-border-radius:5px;
  /* padding */
  --main-padding:15px; }

/* ----------------------------
          font-size
  ----------------------------  */
.p-profiles-show .b-stats_bar .title {
  font-size: 16px; }

.profile-content .activity .title, .profile-content .achievements .header .title {
  font-size: 16px; }

.p-profiles-show .b-stats_bar .stat_names {
  font-size: 14px; }

.p-profiles-show .b-stats_bar .bar .first, .p-profiles-show .b-stats_bar .bar .second, .p-profiles-show .b-stats_bar .bar .third {
  font-size: 13px; }

/* ----------------------------
          color & background
  ----------------------------  */
/* .profile-head    .head.misc h1,
  .profile-head    .c-mobile-actions a,
  .profile-head    .b-stats_bar         .title,
  .profile-head    .b-stats_bar     a.title,
  .profile-head    .c-mobile-actions span,
  .profile-head    .c-history .entry .title,
  .profile-head    .c-info .c-lists-info .b-stats_bar .compatibility a,
  .profile-content .activity             .title,
  .profile-content .b-stats_bar          .title,
  .profile-content .achievements .header .size,
  .profile-content .achievements .header .title,
  .profile-content .lifetime .times .time.checked:before {
      color: var(--font-color) !important;
  } */
.profile-head .subheadline {
  background: var(--subheadline-background); }

.profile-content .subheadline, .profile-content .editor-container .subheadline {
  background: var(--subheadline-background); }

.profile-head .subheadline a:before {
  color: var(--subheadline-a-icon-color); }

.profile-content .subheadline a:before, .profile-content .about.block .subheadline-buttons a:before {
  color: var(--subheadline-a-icon-color); }

.profile-head .subheadline, .profile-content .subheadline, .profile-head .subheadline a {
  color: var(--subheadline-a-color); }

.profile-content .subheadline a, .profile-content .about.block .subheadline-buttons a {
  color: var(--subheadline-a-color); }

.profile-head .b-stats_bar.anime .stat_names .stat_name a {
  color: var(--anime-stat-text-color);
  background-color: var(--anime-stat-text-background); }

.profile-head .b-stats_bar.manga .stat_names .stat_name a {
  color: var(--manga-stat-text-color);
  background-color: var(--manga-stat-text-background); }

.profile-head .b-stats_bar .bar .third {
  background: var(--bar-stat-third-background); }

.profile-content .b-stats_bar .bar .third {
  background: var(--bar-stat-third-background); }

.profile-head .b-stats_bar.anime .bar .second {
  background: var(--bar-anime-stat-second-background); }

.profile-content .c-column.c-right .c-column.m0 .b-clubs img {
  background: var(--entry-background); }

.profile-content .b-badge:before {
  background: var(--badge-background);
  color: var(--badge-color); }

/* ----------------------------
          Box-shadow
  ----------------------------  */
.profile-head .b-stats_bar.manga .stat_names .stat_name a, .profile-head .b-stats_bar.anime .stat_names .stat_name a {
  box-shadow: var(--secondary-elements-shadow);
  transition: var(--shadow-transition); }

.profile-content .cc-2.block > .c-column.c-right .cc-friends > .b-user a, .profile-content .cc-2.block > .c-column.c-right .b-clubs > .b-club a, .profile-content .cc-2.block > .c-column.c-right .cc-favourites .c-column a {
  box-shadow: var(--secondary-elements-shadow);
  transition: var(--shadow-transition); }

.profile-content .b-achievement, .profile-content .cc-franchises a {
  box-shadow: var(--secondary-elements-shadow);
  transition: var(--shadow-transition); }

.profile-head .b-stats_bar .bar .third {
  box-shadow: var(--bar-third-shadow); }

.profile-content .b-stats_bar .bar .third {
  box-shadow: var(--bar-third-shadow); }

.profile-content .c-column.m0 .cc-friends > .b-user a:hover, .profile-content .c-column.m0 .b-clubs > .b-club a:hover {
  box-shadow: var(--secondary-elements-shadow-hover) !important;
  z-index: 1000; }

.profile-content .block .cc-favourites .c-column a:hover, .profile-content .b-achievement:hover, .profile-content .cc-franchises a:hover {
  box-shadow: var(--secondary-elements-shadow-hover) !important;
  z-index: 1000; }

.p-profiles .profile-head .c-history .entry:hover {
  box-shadow: var(--secondary-elements-shadow-hover) !important;
  z-index: 1000; }

.profile-head .b-stats_bar.manga .stat_names .stat_name a:hover, .profile-head .b-stats_bar.anime .stat_names .stat_name a:hover {
  box-shadow: var(--stat-names-shadow-hover);
  text-decoration: none;
  z-index: 1000; }

/* ----------------------------
          Hover & Animation
  ----------------------------  */
.p-profiles .profile-head .c-history .entry:hover {
  background-color: var(--entry-background); }

.profile-content .block:last-child .b-topic, .profile-content .about.block {
  background-color: var(--main-container-background);
  border: 1px var(--main-border-color) solid; }

.profile-head .b-stats_bar, .profile-head .c-additionals, .profile-head .c-brief header, .profile-head .c-mobile-actions, .profile-head .c-history .b-block_list, .profile-head .c-brief .avatar .profile-actions {
  -webkit-transition: var(--main-container-transition);
  -moz-transition: var(--main-container-transition);
  -o-transition: var(--main-container-transition);
  transition: var(--main-container-transition);
  background-color: var(--main-container-background);
  border: 1px var(--main-border-color) solid;
  box-shadow: none; }

.profile-content .lifetime, .profile-content .activity, .profile-content .cc-favourites, .profile-content .block.achievements .cc-3 {
  -webkit-transition: var(--main-container-transition);
  -moz-transition: var(--main-container-transition);
  -o-transition: var(--main-container-transition);
  transition: var(--main-container-transition);
  background-color: var(--main-container-background);
  border: 1px var(--main-border-color) solid;
  box-shadow: none; }

.profile-content .cc-2a.m30 > .c-column.m0 .b-clubs, .profile-content .cc-2a.m30 > .c-column.m0 .cc-friends {
  -webkit-transition: var(--main-container-transition);
  -moz-transition: var(--main-container-transition);
  -o-transition: var(--main-container-transition);
  transition: var(--main-container-transition);
  background-color: var(--main-container-background);
  border: 1px var(--main-border-color) solid;
  box-shadow: none; }

.profile-head .b-stats_bar:hover, .profile-head .c-additionals:hover, .profile-head .c-brief header:hover, .profile-head .c-mobile-actions:hover, .profile-head .c-history .b-block_list:hover, .profile-head .c-brief .avatar .profile-actions:hover {
  box-shadow: var(--main-elements-shadow);
  border: 1px var(--main-border-color-hover) solid;
  background-color: var(--main-container-background-hover); }

.profile-content .lifetime:hover, .profile-content .activity:hover, .profile-content .cc-favourites:hover, .profile-content .block.achievements .cc-3:hover {
  box-shadow: var(--main-elements-shadow);
  border: 1px var(--main-border-color-hover) solid;
  background-color: var(--main-container-background-hover); }

.profile-content .cc-2a.m30 > .c-column.m0 .b-clubs:hover, .profile-content .cc-2a.m30 > .c-column.m0 .cc-friends:hover {
  box-shadow: var(--main-elements-shadow);
  border: 1px var(--main-border-color-hover) solid;
  background-color: var(--main-container-background-hover); }

.profile-content .b-stats_bar.lifetime .bar .first {
  background: var(--bar-background);
  box-shadow: var(--bar-lifetime-first-box-shadow);
  /*
          background: var(--linear-gradient-background);
          animation: backslide var(--bar-lifetime-first-animation-time) linear infinite;
          -o-animation: backslide var(--bar-lifetime-first-animation-time) linear infinite;
          -moz-animation: backslide var(--bar-lifetime-first-animation-time) linear infinite;
          -webkit-animation: backslide var(--bar-lifetime-first-animation-time) linear infinite;
      */ }

.profile-head .c-brief header:hover h1, .profile-head .b-stats_bar:hover .title, .profile-head .c-brief .avatar .profile-actions a:hover::before {
  background: var(--linear-gradient-background);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  animation: slide var(--text-animation-time) linear 0s infinite forwards;
  -o-animation: slide var(--text-animation-time) linear 0s infinite forwards;
  -moz-animation: slide var(--text-animation-time) linear 0s infinite forwards;
  -webkit-animation: slide var(--text-animation-time) linear 0s infinite forwards; }

.profile-content .lifetime:hover .label, .profile-content .activity:hover .title, .profile-content .block.achievements .cc-3 .c-column:hover .title {
  background: var(--linear-gradient-background);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  animation: slide var(--text-animation-time) linear 0s infinite forwards;
  -o-animation: slide var(--text-animation-time) linear 0s infinite forwards;
  -moz-animation: slide var(--text-animation-time) linear 0s infinite forwards;
  -webkit-animation: slide var(--text-animation-time) linear 0s infinite forwards; }

@keyframes backslide {
  to {
    background-position-x: -400%; } }

@keyframes slide {
  to {
    background-position-x: 400%; } }

/* ----------------------------
          Borders
  ----------------------------  */
.profile-head .subheadline {
  border: 0; }

.profile-content .subheadline, .profile-content .editor-container .subheadline {
  border: 0; }

.profile-content .about.block, .profile-content .cc-favourites {
  border-top: none !important; }

.profile-content .block:last-child .b-topic, .profile-content .block.achievements .cc-3 {
  border-top: none !important; }

.profile-head .c-history .b-block_list {
  border-top: none !important; }

.profile-content .cc-2a.m30 > .c-column.m0 .b-clubs, .profile-content .cc-2a.m30 > .c-column.m0 .cc-friends {
  border-top: none !important; }

.profile-head .b-stats_bar, .profile-head .c-additionals, .profile-head .c-brief header, .profile-head .c-mobile-actions, .profile-head .c-history .entry, .profile-head .c-brief .avatar img {
  border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius); }

.profile-head .c-history .entry .image-name {
  border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius); }
  .profile-head .c-history .entry .image-name img {
    border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius); }

.profile-head .c-brief .avatar .profile-actions {
  border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius); }

.profile-head .b-stats_bar.manga .stat_names .stat_name a, .profile-head .b-stats_bar.anime .stat_names .stat_name a {
  border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius); }

.profile-content .b-stats_bar, .profile-content .about.block {
  border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius); }

.profile-content .cc-franchises a, .profile-content .cc-franchises img {
  border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius); }

.profile-content .b-clubs .avatar a, .profile-content .b-clubs .avatar img {
  border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius); }

.profile-content .b-achievement {
  border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius); }
  .profile-content .b-achievement img {
    border-radius: var(--main-border-radius);
    -moz-border-radius: var(--main-border-radius);
    -webkit-border-radius: var(--main-border-radius); }

.profile-content .activity:last-child {
  border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius); }

.profile-content .cc-friends .avatar a, .profile-content .cc-friends .avatar img {
  border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius); }

.profile-content .c-column.c-right .block a, .profile-content .c-column.c-right .block img {
  border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius); }

.profile-content .lifetime:hover .times .time.checked, .profile-content > .cc-2.block > .c-column.c-right .cc-favourites .c-column a {
  border-radius: var(--main-border-radius);
  -moz-border-radius: var(--main-border-radius);
  -webkit-border-radius: var(--main-border-radius); }

.profile-content .activity .bar {
  border-top-left-radius: var(--main-border-radius);
  -webkit-border-top-left-radius: var(--main-border-radius);
  border-top-right-radius: var(--main-border-radius);
  -webkit-border-top-right-radius: var(--main-border-radius); }

.profile-head .c-history .b-block_list {
  border-bottom-left-radius: var(--main-border-radius);
  -webkit-border-bottom-left-radius: var(--main-border-radius);
  border-bottom-right-radius: var(--main-border-radius);
  -webkit-border-bottom-right-radius: var(--main-border-radius); }

.profile-content .b-badge::before {
  border-bottom-left-radius: var(--main-border-radius);
  -webkit-border-bottom-left-radius: var(--main-border-radius);
  border-bottom-right-radius: var(--main-border-radius);
  -webkit-border-bottom-right-radius: var(--main-border-radius); }

.profile-content .block:last-child .b-topic, .profile-content .block.achievements .cc-3 {
  border-bottom-left-radius: var(--main-border-radius);
  -webkit-border-bottom-left-radius: var(--main-border-radius);
  border-bottom-right-radius: var(--main-border-radius);
  -webkit-border-bottom-right-radius: var(--main-border-radius); }

.profile-content > .cc-2.block > .c-column.c-right .b-clubs, .profile-content > .cc-2.block > .c-column.c-right .cc-friends, .profile-content > .cc-2.block > .c-column.c-right > .block .cc-favourites {
  border-bottom-left-radius: var(--main-border-radius);
  -webkit-border-bottom-left-radius: var(--main-border-radius);
  border-bottom-right-radius: var(--main-border-radius);
  -webkit-border-bottom-right-radius: var(--main-border-radius); }

.profile-head .b-stats_bar.anime .bar :first-child, .profile-head .b-stats_bar.manga .bar :first-child {
  border-top-left-radius: var(--main-border-radius);
  -webkit-border-top-left-radius: var(--main-border-radius);
  border-bottom-left-radius: var(--main-border-radius);
  -webkit-border-bottom-left-radius: var(--main-border-radius); }

.profile-content .lifetime.b-stats_bar .bar .first {
  border-top-left-radius: var(--main-border-radius);
  -webkit-border-top-left-radius: var(--main-border-radius);
  border-bottom-left-radius: var(--main-border-radius);
  -webkit-border-bottom-left-radius: var(--main-border-radius); }

.profile-head .b-stats_bar.anime .bar :last-child, .profile-head .b-stats_bar.manga .bar :last-child {
  border-top-right-radius: var(--main-border-radius);
  -webkit-border-top-right-radius: var(--main-border-radius);
  border-bottom-right-radius: var(--main-border-radius);
  -webkit-border-bottom-right-radius: var(--main-border-radius); }

.profile-content .lifetime.b-stats_bar .bar .third {
  border-top-right-radius: var(--main-border-radius);
  -webkit-border-top-right-radius: var(--main-border-radius);
  border-bottom-right-radius: var(--main-border-radius);
  -webkit-border-bottom-right-radius: var(--main-border-radius); }

.profile-content .c-column.c-right .c-column.m0 .b-clubs img {
  padding: 1px; }

/* ----------------------------
          Margin Padding
  ----------------------------  */
.profile-head .c-history .entry {
  transition: var(--history-entry-transition);
  padding: 0 5px !important; }

.profile-head .b-stats_bar, .profile-head .c-additionals, .profile-head .c-brief header, .profile-head .c-history .b-block_list {
  padding: 10px; }

.profile-content .activity, .profile-content .b-stats_bar, .profile-content .cc-friends, .profile-content .b-clubs.one-line, .profile-content .cc-favourites {
  padding: 10px; }

.profile-content .block:last-child .b-topic, .profile-content .block.achievements .cc-3 {
  padding: 10px; }

.profile-content .about.block {
  padding: 0px 10px; }

.profile-head .c-brief .avatar .profile-actions a {
  padding: 5px 0px; }

.profile-content .about.block .subheadline {
  margin: 0px -10px; }

.profile-head .b-stats_bar.manga .stat_names .stat_name a, .profile-head .b-stats_bar.anime .stat_names .stat_name a {
  padding: 5px 10px 5px 10px; }

.profile-head .b-stats_bar .title {
  padding-bottom: 10px; }

.profile-content .activity .title {
  padding-bottom: 10px; }

.profile-head .stat_names {
  padding-top: 5px;
  padding-bottom: 5px; }

.profile-head .b-stats_bar .stat_names .stat_name {
  margin: 0px 10px 5px 0px; }

.profile-head .c-history {
  margin: 0 0 var(--main-padding) 0 !important; }

.profile-head .cc-2.block, .profile-head .c-mobile-actions {
  margin-bottom: var(--main-padding) !important; }

.profile-content .c-column.c-left {
  margin-bottom: 0; }

.p-profiles .profile-head .c-history .entry img {
  margin: 2px 5px 2px 0;
  max-height: 75px !important;
  max-width: 48px !important; }

.profile-head .c-info .c-lists-info .b-stats_bar, .profile-head .subheadline {
  margin-bottom: 0 !important; }

.profile-content .subheadline {
  margin-bottom: 0 !important; }

.profile-content .cc-friends .b-user {
  margin-bottom: 0;
  padding: 1px; }

.profile-head .c-mobile-actions a, .profile-head .c-mobile-actions span {
  padding: 10px;
  font-weight: bold; }

.profile-head .profile-actions {
  margin: 0px !important; }
  .profile-head .profile-actions a {
    margin: 0px !important; }

.profile-content .lifetime, .profile-content .block:last-child .subheadline.m3 {
  margin: 0 !important; }

.profile-content .activity:last-child {
  padding-bottom: 20px; }

.profile-content .block.achievements, .profile-content .about.block {
  margin-bottom: var(--main-padding) !important; }

/* ----------------------------
          Profile-show
  ----------------------------  */
.p-profiles-show .b-stats_bar .bar {
  height: 30px;
  overflow: visible; }
  .p-profiles-show .b-stats_bar .bar .first, .p-profiles-show .b-stats_bar .bar .second, .p-profiles-show .b-stats_bar .bar .third {
    vertical-align: middle;
    line-height: 30px; }

/* ----------------------------
          Profile-head
  ----------------------------  */
.profile-head .c-history .b-block_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1%; }
  .profile-head .c-history .b-block_list .entry a {
    min-width: 200px; }

.profile-head .c-brief .avatar .profile-actions {
  height: 100%; }

.profile-head .c-history {
  float: inherit;
  width: 100% !important; }
  .profile-head .c-history .entry a {
    width: 100%; }
  .profile-head .c-history .entry:hover .title {
    text-decoration: none; }
  .profile-head .c-history .b-block_list .entry {
    justify-content: left !important;
    border-top: 0 !important; }
  .profile-head .c-history .entry {
    border: 0;
    padding: 0; }

.profile-head .c-mobile-actions {
  text-align: center; }

.profile-head .b-stats_bar .stat_names .stat_name {
  display: inline-grid; }
  .profile-head .b-stats_bar .stat_names .stat_name:after {
    content: ' '; }

.profile-head .c-lists-info {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: var(--main-padding); }

.profile-head .c-info {
  display: grid;
  grid-auto-flow: row;
  grid-gap: var(--main-padding); }

/* ----------------------------
          Profile-content
  ----------------------------  */
.profile-content .lifetime .bar {
  height: 10px;
  line-height: 10px;
  padding: 1px; }

.profile-content .lifetime .cuts .cut {
  height: 0;
  margin: 1px; }

.profile-content .b-achievement .c-image .inner a .border {
  display: none; }

.profile-content .b-achievement.is-badge::before {
  bottom: 0; }

.profile-content .cc-achievements {
  display: flex;
  flex-flow: row wrap;
  align-content: stretch; }
  .profile-content .cc-achievements .b-achievement:only-child {
    min-width: 48.5%;
    max-width: 100%;
    width: auto !important;
    flex: 1; }

.profile-content > .cc-2.block {
  display: grid;
  grid-gap: var(--main-padding);
  grid-template-columns: 0.6fr 0.4fr;
  margin: 0 !important; }
  .profile-content > .cc-2.block > .c-column.c-left {
    width: 100% !important;
    display: grid;
    grid-gap: var(--main-padding); }
    .profile-content > .cc-2.block > .c-column.c-left .lifetime {
      display: grid;
      grid-template-rows: 1fr auto 1fr;
      grid-gap: 5px;
      align-content: center; }
    .profile-content > .cc-2.block > .c-column.c-left .activity {
      display: grid;
      grid-template-rows: auto minmax(100px, 1fr);
      margin: 0 !important; }
      .profile-content > .cc-2.block > .c-column.c-left .activity .bar {
        align-self: center;
        height: 200px; }
  .profile-content > .cc-2.block > .c-column.c-right {
    width: 100% !important;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas: "header" "bottom"; }
    .profile-content > .cc-2.block > .c-column.c-right > .cc-2a.m30 {
      grid-area: header;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: var(--main-padding);
      padding: 0 !important;
      margin: 0 !important; }
      .profile-content > .cc-2.block > .c-column.c-right > .cc-2a.m30 > .c-column.m0 {
        width: 100%; }
    .profile-content > .cc-2.block > .c-column.c-right > .block {
      grid-area: bottom; }
    .profile-content > .cc-2.block > .c-column.c-right > .cc-2a.m30 > .c-column.m0 .cc-friends {
      display: grid;
      grid-template-columns: repeat(4, minmax(25px, 1fr));
      grid-gap: 5px; }

.profile-head .c-history .b-block_list .entry {
  justify-content: left !important; }

.profile-content > .cc-2.block > .c-column.c-right > .cc-2a.m30 > .c-column.m0 .cc-friends > .b-user, .profile-content > .cc-2.block > .c-column.c-right > .cc-2a.m30 > .c-column.m0 .b-clubs > .b-club {
  width: 100% !important;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center; }

.profile-content > .cc-2.block > .c-column.c-right > .block .cc-favourites .c-column {
  width: 100% !important;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center; }

.profile-head .c-history .b-block_list .entry {
  width: 100% !important;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center; }

.profile-content > .cc-2.block > .c-column.c-right > .cc-2a.m30 > .c-column.m0 .b-clubs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
  margin: 0; }
  .profile-content > .cc-2.block > .c-column.c-right > .cc-2a.m30 > .c-column.m0 .b-clubs > .b-club img {
    width: 100% !important;
    max-width: none !important;
    margin: 0; }

.profile-content > .cc-2.block > .c-column.c-right > .cc-2a.m30 > .c-column.m0 .cc-friends > .b-user img {
  width: 100% !important;
  max-width: none !important;
  margin: 0; }

.profile-content > .cc-2.block > .c-column.c-right > .block .cc-favourites .c-column img {
  width: 100% !important;
  max-width: none !important;
  margin: 0; }

.profile-content > .cc-2.block > .c-column.c-right > .cc-2a.m30 > .c-column.m0 .b-clubs, .profile-content > .cc-2.block > .c-column.c-right > .cc-2a.m30 > .c-column.m0 .cc-friends {
  min-height: 150px;
  height: 175px; }

.profile-content > .cc-2.block > .c-column.c-right > .cc-2a.m30 > .c-column.m0 .b-clubs.one-line::after, .profile-content > .cc-2.block > .c-column.c-right > .cc-2a.m30 > .c-column.m0 .b-clubs::before {
  display: none; }

.profile-content > .cc-2.block > .c-column.c-right > .cc-2a.m30 > .c-column.m0 .cc-friends::after {
  display: none; }

.profile-content .cc-favourites::after {
  display: none; }

.profile-content > .cc-2.block > .c-column.c-right > .block .cc-favourites {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr)); }
  .profile-content > .cc-2.block > .c-column.c-right > .block .cc-favourites > .b-catalog_entry {
    width: 100% !important; }

.profile-content .c-column.c-right .cc-2a.m30 > .c-column {
  margin-right: 0;
  width: 50%; }

.profile-content .b-badge::before {
  width: 100% !important;
  display: block !important;
  content: attr(data-progress) "%";
  position: absolute;
  text-align: center;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0; }

/* ----------------------------
          media
  ----------------------------  */
@media screen and (max-width: 767px) {
  .profile-head .c-lists-info {
    grid-template-columns: auto; }
  .profile-head .c-history .b-block_list {
    display: grid;
    grid-template-columns: minmax(100px, 1fr); }
    .profile-head .c-history .b-block_list > .entry {
      display: block; }
  .profile-head .c-history.x3 {
    margin: 0 !important;
    margin-bottom: var(--main-padding) !important; }
  .profile-head .c-brief .avatar {
    margin: 0 var(--main-padding) var(--main-padding) 0 !important; }
  .profile-head .c-brief .head.misc {
    margin: 0px !important; }
  .profile-head .c-mobile-actions {
    display: grid;
    grid-template-columns: minmax(100px, 1fr); }
    .profile-head .c-mobile-actions:empty {
      display: none; }
    .profile-head .c-mobile-actions a:after, .profile-head .c-mobile-actions span:after {
      content: '' !important;
      padding: 0px !important; }
  .profile-content > .cc-2.block {
    display: grid;
    grid-template-columns: auto; }
  .profile-content .c-column.c-right .c-column.m0 .b-clubs {
    margin: var(--main-padding); }
  .profile-content .cc-3 > .c-column {
    margin-bottom: var(--main-padding) !important; }
  .profile-head .c-info .c-additionals {
    margin-bottom: var(--main-padding) !important; } }

@media only screen and (min-width: 768px) {
  .profile-head {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr;
    grid-gap: var(--main-padding);
    margin-bottom: var(--main-padding); }
    .profile-head:before, .profile-head:after {
      display: none !important; }
    .profile-head .c-history {
      grid-column: 1 / 3;
      margin-bottom: 0px !important; }
    .profile-head .c-brief {
      display: grid;
      grid-auto-flow: row dense;
      grid-gap: var(--main-padding); }
      .profile-head .c-brief .avatar {
        grid-row: 2;
        display: grid;
        grid-auto-flow: row;
        grid-gap: var(--main-padding);
        margin: 0px !important; }
        .profile-head .c-brief .avatar img {
          align-self: end; }
      .profile-head .c-brief .head.misc {
        margin-bottom: 0px !important;
        display: grid;
        grid-auto-flow: row;
        grid-gap: 1px; }
        .profile-head .c-brief .head.misc .misc {
          padding: 0px; }
        .profile-head .c-brief .head.misc .notice {
          padding: 0px;
          display: grid;
          grid-auto-flow: row; }
    .profile-head .c-info .c-additionals {
      margin-bottom: 0 !important; }
    .profile-head .c-brief .head.misc .notice span:after {
      display: none !important; }
    .profile-head .c-brief .avatar .profile-actions {
      align-self: end; }
    .profile-head .c-lists-info {
      grid-template-columns: minmax(100px, 1fr); }
    .profile-head .c-info .c-lists-info .b-stats_bar {
      margin: 0; }
  .profile-content .block .cc-3 {
    padding-bottom: 5px; }
    .profile-content .block .cc-3 > .c-column {
      margin-bottom: 0px; }
  .profile-content .cc-2 > .c-left {
    position: relative;
    z-index: 1; }
  .profile-content .cc-2 > .c-right {
    width: 40%; }
  .profile-content .c-column.c-right .c-column.m0 .b-clubs {
    margin: 5px; } }

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .profile-head .avatar {
    border-radius: var(--main-border-radius); }
    .profile-head .avatar .profile-actions {
      height: 30px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
      align-items: center; }
      .profile-head .avatar .profile-actions a:before {
        font-size: 20px; }
  /* .profile-head .avatar img {
      
    } */ }

@media screen and (min-width: 1025px) {
  .profile-head .avatar {
    border-radius: var(--main-border-radius); }
    .profile-head .avatar .profile-actions {
      height: 30px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
      align-items: center; }
      .profile-head .avatar .profile-actions a:before {
        font-size: 20px; }
  /* .profile-head .avatar img {
       
    } */ }

@media only screen and (min-width: 1210px) {
  .profile-content .c-column.c-right .c-column.m0 .b-clubs {
    margin: 12px; }
  .profile-head .c-lists-info {
    grid-template-columns: auto; }
  .profile-content .cc-2 > .c-left {
    position: relative;
    z-index: 1; }
  .profile-content .cc-2 > .c-right {
    width: 40%; } }
