@use "common" as *;
@use "components" as *;

.profile-head {
    @extend %remove-sub-elements;
    @extend %third-bar;
    @extend %subline;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr;
    grid-gap: $main-padding;
    margin-bottom: $main-padding;

    @media screen and (max-width: 767px) {
        grid-template-columns: auto;
    }
}

.profile-content {
    @extend %subline;
    @extend %third-bar;
    display: grid;
    grid-auto-flow: row;
    grid-gap: $main-padding;

    .cc-2.block {
        @extend %remove-sub-elements;
        @extend %remove-margin;
        display: grid;
        grid-gap: $main-padding;
        grid-template-columns: 0.6fr 0.4fr;

        @media screen and (max-width: 767px) {
            grid-template-columns: auto;
        }
    }
}
