@use "common" as *;
@use "components" as *;

:root {
    --profile-head-image: none;
    --profile-head-image-position-y: 0;
    --profile-head-image-position-x: 0;
}

.profile-head {
    @extend %remove-sub-elements;
    @extend %third-bar;
    @extend %subline;

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 1fr;
    gap: $main-padding;
    margin-bottom: $main-padding;

    @media screen and (max-width: 767px) {
        grid-template-columns: auto;
    }

    .midheadline, .subheadline {
        padding: 0 $padding;
    }
}

.profile-content {
    @extend %subline;
    @extend %third-bar;

    display: grid;
    grid-auto-flow: row;
    gap: $main-padding;

    .cc-2.block {
        @extend %remove-sub-elements;
        @extend %remove-margin;

        display: grid;
        gap: $main-padding;
        grid-template-columns: 0.6fr 0.4fr;

        @media screen and (max-width: 767px) {
            grid-template-columns: auto;
        }
    }

    .midheadline, .subheadline {
        padding: 0 $padding;
    }
}
