.about.block {
    @extend %block-style;
    @extend %border-radius-bottom;
    @extend %remove-margin-bottom;
    @extend %subline-item;
    padding: 0px $padding !important;

    .subheadline {
        margin: 0px (-$padding);
    }

    .subheadline-buttons {
        @extend %headline-arrow;
    }
}
