.about.block {
    @extend %block-style;
    @extend %border-radius;
    border-top: none !important;
    margin-bottom: 0 !important;
    padding: 0px $padding;

    .subheadline {
        margin: 0px (-$padding);
    }

    .subheadline-buttons {
        @extend %headline-arrow;
    }
}