@use "../common" as *;

.profile-content {
    .block.achievements {
        @extend %remove-margin-bottom;

        @media screen and (max-width: 767px) {
            .cc-2 {
                display: grid;
                grid-template-areas:
                    "cc-achievements-1"
                    "cc-achievements-2"
                    "franchises"
                    "authors";
                grid-template-columns: 1fr;
            }
        }

        .cc-2 {
            @extend %block-style-hover;
            @extend %border-radius-bottom;
            @extend %subline-item;
            @extend %remove-sub-elements;

            display: grid;
            grid-template-areas:
                "cc-achievements-1 cc-achievements-2"
                "franchises authors";
            grid-template-columns: 1fr 1fr;
            gap: $padding;

            .c-column {
                &:nth-child(1) {
                    grid-area: cc-achievements-1;
                }
                &:nth-child(2) {
                    grid-area: cc-achievements-2;
                }
                &:nth-child(3) {
                    grid-area: franchises;
                }
                &:nth-child(4) {
                    grid-area: authors;
                }
            }

            &:hover {
                .cc-franchises,
                .cc-authors,
                .cc-achievements {
                    .b-badge,
                    .b-achievement {
                        @extend %small-shadows;
                    }
                }
            }

            .c-column {
                @extend %remove-margin;

                width: 100%;
                height: 100%;

                display: flex;
                flex-direction: column;
                gap: $small-padding;

                .header {
                    @extend %remove-margin;
                }

                &:hover {
                    .title {
                        @extend %caption-text-hover;
                    }
                }
            }
        }

        .border {
            display: none;
        }

        img {
            @extend %border-radius-2;
        }

        .cc-franchises {
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 1fr 1fr;

            @include dynamic-grid(9);
        }
        .cc-authors {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr 1fr;
        }

        .cc-achievements {
            grid-template-columns: repeat(2, 1fr);
        }

        .cc-franchises,
        .cc-authors,
        .cc-achievements {
            @extend %remove-sub-elements;

            gap: $padding;

            display: grid;
            align-content: space-between;
            width: 100%;
            height: 100%;
            align-items: start;
            justify-content: space-between;
            justify-items: stretch;

            @supports selector(:has(*)) {
                &:not(:has(:nth-child(4))) {
                    display: flex;
                    justify-content: start;
                }
            }

            .b-badge,
            .b-achievement {
                @extend %border-radius-2;
                @extend %small-shadows-hover;
                @extend %remove-margin;

                width: 100%;
                height: 100%;

                &::before {
                    bottom: 0;
                }

                .c-image {
                    width: 100%;
                    height: 100%;
                }

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }

                &::after {
                    @extend %border-radius-3;

                    top: $small-padding;
                    right: $small-padding;
                    opacity: 1;
                    color: black;
                    background: white;
                }

                &:only-child {
                    min-width: 48.5%;
                    max-width: 100%;
                    width: auto !important;
                    flex: 1;
                }
            }
        }
    }
}