@use "../common" as *;

.profile-content {
    .block {
        &:last-child {
            .subheadline {
                @extend %remove-margin;
            }

            .b-comments {
                @extend %block-style !optional;
                @extend %border-radius-bottom;
                @extend %subline-item;
                @extend %block-style-hover;

                &:hover {
                    .b-comment {
                        @extend %small-shadows;
                        background: $entry-background;
                    }
                }

                .b-comment {
                    @extend %border-radius-2;
                    @extend %small-shadows-hover;

                    transition: $history-entry-transition;
                    padding: $small-padding;
                    margin-bottom: $padding !important;
                    border: 0;

                    .inner {
                        min-height: unset !important;
                    }

                    img {
                        @extend %border-radius-2;
                        @extend %remove-margin;
                    }

                    &:last-child {
                        margin-bottom: 0 !important;
                    }
                }
            }

            .b-topic {
                @extend %block-style;
                @extend %border-radius;
                @extend %subline-item;
            }

            > * >.editor-container {
                margin-top: $main-padding;

                .b-offtopic_marker::before,
                .btn {
                    @extend %border-radius-2;
                }

                >.b-form {
                    @extend %block-style;
                    @extend %border-radius-bottom;
                    @extend %subline-item;
                }
            }
        }
    }
}