@use "../common" as *;

.profile-head {
    .c-info {
        display: grid;
        grid-template-rows: 1fr auto;
        grid-gap: $main-padding;

        .c-lists-info {
            display: grid;
            grid-auto-flow: row;
            grid-gap: $main-padding;

            .b-stats_bar {
                @extend %block-style-hover;
                @extend %border-radius;
                @extend %remove-sub-elements;
                @extend %remove-margin;
                padding: $padding;
                display: grid;
                grid-template-areas:
                    "left right"
                    "bar bar"
                    "stat stat";
                grid-gap: 5px;

                .compatibility {
                    grid-area: right;
                }

                .title {
                    grid-area: left;
                }

                .bar {
                    display: flex;
                    grid-area: bar;
                    height: 30px;
                    overflow: visible;

                    * {
                        @extend %item-align;
                        vertical-align: middle;
                        line-height: 100%;
                    }

                    & :first-child {
                        @extend %border-radius-left;
                    }

                    & :last-child {
                        @extend %border-radius-right;
                    }

                    &:first-child:last-child {
                        @extend %border-radius;
                    }
                }

                .stat_names {
                    grid-area: stat;
                    font-size: 14px;
                    margin-bottom: -$small-padding;

                    .stat_name {
                        @extend %remove-sub-elements;
                        margin: 0px $padding $small-padding 0px;
                        display: inline-grid;

                        a {
                            @extend %border-radius;
                            @extend %small-shadows;
                            padding: $small-padding $padding;

                            &:hover {
                                @extend %stat-names-shadows-hover;
                            }
                        }
                    }
                }

                &.anime {
                    .bar {
                        .second {
                            background: $bar-anime-stat-second-background;
                        }
                    }

                    .stat_name a {
                        color: $anime-stat-text-color;
                        background-color: $anime-stat-text-background;
                    }
                }

                &.manga {
                    .stat_name a {
                        color: $manga-stat-text-color;
                        background-color: $manga-stat-text-background;
                    }
                }

                &:hover {
                    .title {
                        @extend %caption-text-hover;
                    }
                }
            }
        }

        .c-additionals {
            @extend %block-style-hover;
            @extend %border-radius;
            @extend %remove-margin-bottom;
            padding: $padding;
        }
    }
}