@use "../common" as *;

.profile-content {
    .about {
        @extend %block-style;
        @extend %border-radius-bottom;
        @extend %remove-margin-bottom;
        @extend %subline-item;

        padding: 0 $padding $padding !important;

        & > .subheadline {
            margin: 0 (-$padding) $padding;
            margin-bottom: $padding !important;
        }

        .subheadline-buttons {
            @extend %headline-arrow;
        }

        & .block {
            @extend %remove-sub-elements;
            @extend %remove-margin;
            @extend %remove-margin-bottom;
            @extend %block-style;
            @extend %subline;

            padding: 0 $padding $padding !important;

            @supports selector(:has(*)) {
                &:has(.b-spoiler_block) {
                    padding: 0 $padding !important;
                }

                &:has(.b-spoiler_block.is-opened) {
                    @extend %border-radius-2-bottom;
                }
            }

            .b-spoiler_block {
                margin: 0 (-$padding) !important;

                & > span {
                    color: var(--link-color);
                }

                & > div {
                    padding: $padding;
                    border-left: unset;
                    background-color: unset;
                }
            }

            .b-code-v2 {
                @extend %border-radius-3;
            }

            .subheadline {
                margin: 0 (-$padding) $padding !important;
            }
        }
    }
}