@use "../common" as *;

.profile-content {
    .about.block {
        @extend %block-style;
        @extend %border-radius-bottom;
        @extend %remove-margin-bottom;
        @extend %subline-item;

        padding: 0 $padding $padding !important;

        .subheadline {
            margin: 0 (-$padding) $padding;
            margin-bottom: $padding !important;
        }

        .subheadline-buttons {
            @extend %headline-arrow;
        }
    }
}