@use "../common" as *;

.profile-content {
    .block.achievements {
        @extend %remove-margin-bottom;
        @include extract-data-progress;

        @media screen and (max-width: 767px) {
            .cc-2 {
                display: grid;
                grid-template-areas:
                    "cc-achievements-1"
                    "cc-achievements-2"
                    "franchises"
                    "authors";
                grid-template-columns: 1fr;
            }
        }

        .cc-2 {
            @extend %block-style-hover;
            @extend %border-radius-bottom;
            @extend %subline-item;
            @extend %remove-sub-elements;

            display: grid;
            grid-template-areas:
                "cc-achievements-1 cc-achievements-2"
                "franchises authors";
            grid-template-columns: 1fr 1fr;
            gap: $padding;

            &:hover {
                .cc-franchises,
                .cc-authors,
                .cc-achievements {
                    .b-badge,
                    .b-achievement {
                        @extend %small-shadows;
                    }
                }
            }

            .c-column {
                @extend %remove-margin;

                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: $small-padding;

                &:nth-child(1) {
                    grid-area: cc-achievements-1;
                }

                &:nth-child(2) {
                    grid-area: cc-achievements-2;
                }

                &:nth-child(3) {
                    grid-area: franchises;
                }

                &:nth-child(4) {
                    grid-area: authors;
                }

                .header {
                    @extend %remove-margin;
                }

                &:hover {
                    .title {
                        @extend %caption-text-hover;
                    }
                }
            }
        }

        .border {
            display: none;
        }

        img {
            @extend %border-radius-2;
        }

        .cc-authors {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr 1fr;

            .b-badge,
            .b-achievement {
                &::before {
                    content: attr(data-title) !important;
                }
            }
        }

        .cc-achievements {
            grid-template-columns: repeat(2, 1fr);
        }

        .cc-franchises {
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 1fr 1fr;

            @include dynamic-grid(9);

            .b-badge {
                position: relative;
                overflow: hidden;

                @include slide-bg-anim-before(
                    'achievements',
                    $achievements-speed,
                    $achievements-pattern-repeat-width,
                    $achievements-stripe-width,
                    $achievements-fundamental-base,
                    3,
                    $achievements-100-gradient-background,
                );

                &.level-0 {
                    &::before {
                        background-image: $achievements-none-gradient-background !important;
                        background-color: $achievements-none-background !important;
                    }
                }

                &::before {
                    top: unset;
                    left: -10px;
                    bottom: 2px;
                    background-color: $achievements-100-background !important;
                    height: 22px;
                    display: inline;
                    z-index: 1;
                    opacity: 1 !important;
                    transform: scale(-1);
                }

                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    z-index: 3;
                    color: #fff;
                    box-sizing: border-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    line-height: 20px;
                    padding: 0 8px;
                    font-size: 11px;
                    height: 20px;
                    filter: drop-shadow(0 0 1px rgb(17 34 51));
                    content: attr(original-title) !important;
                }
            }
        }

        .cc-authors,
        .cc-achievements {
            .c-image {
                overflow: hidden;
                position: relative;

                @include slide-bg-anim-after(
                    'achievements',
                    $achievements-speed,
                    $achievements-pattern-repeat-width,
                    $achievements-stripe-width,
                    $achievements-fundamental-base,
                    3,
                    $achievements-gradient-background,
                );

                &::before {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 20px;
                    background: rgb(17 34 51);
                    display: inline;
                    content: '';
                    z-index: 2;
                    opacity: .5;
                }


                &::after {
                    top: unset;
                    left: -10px;
                    bottom: 2px;
                    background-color: $achievements-background;
                    height: 22px;
                    display: inline;
                    z-index: 3;
                    clip-path: inset(0 calc(100% - var(--progress, 0) * 1%) 0 0);
                }
            }

            .b-badge,
            .b-achievement {
                &[data-progress="100"] {
                    &::after {
                        color: $achievements-100-background !important;
                    }

                    .c-image {
                        &::after {
                            transform: scale(-1);
                            background-image: $achievements-100-gradient-background !important;
                            background-color: $achievements-100-background !important;
                        }
                    }
                }

                &.level-0 {
                    &::after {
                        color: $achievements-none-background !important;
                    }

                    .c-image {
                        &::after {
                            background-image: $achievements-none-gradient-background !important;
                            background-color: $achievements-none-background !important;
                        }
                    }
                }

                &::before {
                    bottom: 0;
                    background: none !important;
                    z-index: 4;
                    filter: drop-shadow(0 0 1px rgb(17 34 51));

                    @include get-subelement-content((
                        'attr(data-hint)',
                        'attr(data-title)'
                    ), '/');
                }

                &::after {
                    @extend %border-radius-3;

                    top: $small-padding;
                    right: $small-padding;
                    color: $achievements-background;
                    background: rgb(17 34 51 / 60%);
                    z-index: 4;
                    opacity: 0;
                    transition: opacity 0.3s ease-in-out;
                }

                &:hover {
                    &::after {
                        opacity: 1;
                    }
                }
            }
        }

        .cc-franchises,
        .cc-authors,
        .cc-achievements {
            @extend %remove-sub-elements;

            gap: $padding;
            display: grid;
            place-content: space-between space-between;
            width: 100%;
            height: 100%;
            place-items: start stretch;

            @supports selector(:has(*)) {
                &:not(:has(:nth-child(4))) {
                    display: flex;
                    justify-content: start;
                }
            }

            .b-badge,
            .b-achievement {
                @extend %border-radius-2;
                @extend %small-shadows-hover;
                @extend %remove-margin;

                width: 100%;
                height: 100%;

                .c-image {
                    width: 100%;
                    height: 100%;
                }

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }

                &:only-child {
                    min-width: 48.5%;
                    max-width: 100%;
                    width: auto !important;
                    flex: 1;
                }
            }
        }
    }
}