@use "../common" as *;

.profile-content {
    .cc-2.block {
        .c-right {
            width: 100% !important;
            height: 100%;
            display: grid;
            grid-auto-flow: row;
            gap: $main-padding;

            .cc-2a {
                @extend %remove-sub-elements;
                @extend %remove-margin;

                display: grid;
                grid-template-columns: .7fr .3fr;
                gap: $main-padding;
                padding: 0;

                >.c-column {
                    margin-right: 0;
                }

                .c-column {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .subheadline {
                        height: 30px;
                        overflow: unset !important;
                    }
                }
            }

            img {
                @extend %border-radius-2;
                @extend %remove-margin;

                width: 100% !important;
                height: 100% !important;
                max-width: none !important;
                background: $entry-background;
                object-fit: cover;
            }

            %links {
                a {
                    @extend %border-radius;
                    @extend %small-shadows-hover;
                }
            }

            .cc-friends {
                @extend %block-style-hover;
                @extend %border-radius-bottom;
                @extend %links;
                @extend %subline-item;
                @extend %remove-sub-elements;

                display: grid;
                gap: $padding;
                width: 100%;
                height: 100%;
                grid-template-columns: repeat(6, 1fr);
                
                @include dynamic-grid(13);

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }

                .b-user {
                    @extend %remove-margin;
                    @extend %item-align;

                    width: 100%;
                    height: 100%;

                    a {
                        width: 100%;
                        max-width: 40px;
                    }
                }

                &:hover {
                    a {
                        @extend %small-shadows;
                    }
                }
            }

            .b-clubs {
                @extend %block-style-hover;
                @extend %border-radius-bottom;
                @extend %links;
                @extend %remove-margin;
                @extend %subline-item;
                @extend %remove-sub-elements;

                display: grid;
                gap: $padding;
                height: 100%;
                grid-template-columns: repeat(2, 1fr);
                
                @include dynamic-grid(5);

                .b-club {
                    @extend %item-align;
                    @extend %remove-margin;

                    width: 100% !important;
                    height: 100%;
                
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }

                    a {
                        width: 100%;
                        max-width: 40px;
                    }
                }

                .b-nothing_here {
                    grid-column: 1 / 3;
                }

                &:hover {
                    a {
                        @extend %small-shadows;
                    }
                }
            }

            & > .block {
                display: flex;
                flex-direction: column;
                height: 100%;

                .subheadline {
                    height: 30px;
                    overflow: unset !important;
                }
            }

            .cc-favourites {
                @extend %block-style-hover;
                @extend %border-radius-bottom;
                @extend %links;
                @extend %subline-item;
                @extend %remove-sub-elements;

                display: grid;
                gap: 10px;
                grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
                height: 100%;

                .b-catalog_entry {
                    @extend %item-align;

                    width: 100% !important;

                    .image-decor,
                    .image-cutter {
                        width: 100%;
                        height: 100%;
                    }

                    a {
                        width: 100%;
                        height: 100%;
                        max-width: 150px;
                    }
                }

                &:hover {
                    a {
                        @extend %small-shadows;
                    }
                }
            }
        }
    }
}