@-webkit-keyframes slide {
  to {
    background-position-x: 400%
  }
}
@keyframes slide {
  to {
    background-position-x: 400%
  }
}
.profile-content .about.block .subheadline-buttons a,
.profile-content .subheadline a,
.profile-head .subheadline a {
  color: var(--link-color)
}
.profile-content .about.block .subheadline-buttons a::before,
.profile-content .subheadline a::before,
.profile-head .subheadline a::before {
  color: var(--headline-arrow-color)
}
.profile-content .block.achievements .cc-achievements .b-achievement,
.profile-content .block.achievements .cc-achievements .b-achievement::after,
.profile-content .block.achievements .cc-authors .b-achievement,
.profile-content .block.achievements .cc-authors .b-achievement::after,
.profile-content .block.achievements .cc-franchises a,
.profile-content .cc-2.block .c-right .b-clubs a,
.profile-content .cc-2.block .c-right .cc-favourites a,
.profile-content .cc-2.block .c-right .cc-friends a,
.profile-head .c-info .c-lists-info .b-stats_bar .stat_names .stat_name a {
  -webkit-box-shadow: 2px 1px 3px 0 rgba(154,147,140,.5);
  box-shadow: 2px 1px 3px 0 rgba(154,147,140,.5);
  -webkit-transition: all .3s cubic-bezier(.25,.8,.25,1);
  transition: all .3s cubic-bezier(.25,.8,.25,1)
}
.profile-content .block.achievements .cc-achievements .b-achievement:hover,
.profile-content .block.achievements .cc-achievements .b-achievement:hover::after,
.profile-content .block.achievements .cc-authors .b-achievement:hover,
.profile-content .block.achievements .cc-authors .b-achievement:hover::after,
.profile-content .block.achievements .cc-franchises a:hover,
.profile-content .block:last-child .b-comments .b-comment:hover,
.profile-content .cc-2.block .c-right .b-clubs a:hover,
.profile-content .cc-2.block .c-right .cc-favourites a:hover,
.profile-content .cc-2.block .c-right .cc-friends a:hover,
.profile-head .c-history .b-block_list .entry:hover,
.profile-head .c-history > div:last-child .entry:hover {
  -webkit-box-shadow: 5px 4px 8px 0 rgba(0,0,0,.25),2px 5px 8px rgba(0,0,0,.22)!important;
  box-shadow: 5px 4px 8px 0 rgba(0,0,0,.25),2px 5px 8px rgba(0,0,0,.22)!important;
  z-index: 1000
}
.profile-head .c-info .c-lists-info .b-stats_bar .stat_names .stat_name a:hover {
  -webkit-box-shadow: 5px 4px 8px 0 rgba(0,0,0,.25),2px 9px 8px rgba(0,0,0,.22);
  box-shadow: 5px 4px 8px 0 rgba(0,0,0,.25),2px 9px 8px rgba(0,0,0,.22);
  text-decoration: none;
  z-index: 1000
}
.profile-content .about.block,
.profile-content .block.achievements .cc-2,
.profile-content .block:last-child .b-comments,
.profile-content .block:last-child .b-topic,
.profile-content .block:last-child > * > .editor-container > .b-form,
.profile-content .cc-2.block .c-left .activity,
.profile-content .cc-2.block .c-left .lifetime,
.profile-content .cc-2.block .c-right .b-clubs,
.profile-content .cc-2.block .c-right .cc-favourites,
.profile-content .cc-2.block .c-right .cc-friends,
.profile-head .c-brief .avatar .profile-actions,
.profile-head .c-brief .head,
.profile-head .c-history .b-block_list,
.profile-head .c-history > div:last-child,
.profile-head .c-info .c-additionals,
.profile-head .c-info .c-lists-info .b-stats_bar,
.profile-head .c-mobile-actions {
  background: 0 0;
  border: 1px var(--headline-background-color) solid
}
.profile-content .block.achievements .cc-2,
.profile-content .block:last-child .b-comments,
.profile-content .cc-2.block .c-left .activity,
.profile-content .cc-2.block .c-left .lifetime,
.profile-content .cc-2.block .c-right .b-clubs,
.profile-content .cc-2.block .c-right .cc-favourites,
.profile-content .cc-2.block .c-right .cc-friends,
.profile-head .c-brief .avatar .profile-actions,
.profile-head .c-brief .head,
.profile-head .c-history .b-block_list,
.profile-head .c-history > div:last-child,
.profile-head .c-info .c-additionals,
.profile-head .c-info .c-lists-info .b-stats_bar,
.profile-head .c-mobile-actions {
  -webkit-transition: all 1s cubic-bezier(.26,.01,0,.99),background-color .7s cubic-bezier(.31,0,0,.96),border .4s linear;
  transition: all 1s cubic-bezier(.26,.01,0,.99),background-color .7s cubic-bezier(.31,0,0,.96),border .4s linear;
  -webkit-box-shadow: none;
  box-shadow: none
}
.profile-content .block.achievements .cc-2:hover,
.profile-content .block:last-child .b-comments:hover,
.profile-content .cc-2.block .c-left .activity:hover,
.profile-content .cc-2.block .c-left .lifetime:hover,
.profile-content .cc-2.block .c-right .b-clubs:hover,
.profile-content .cc-2.block .c-right .cc-favourites:hover,
.profile-content .cc-2.block .c-right .cc-friends:hover,
.profile-head .c-brief .avatar .profile-actions:hover,
.profile-head .c-brief .head:hover,
.profile-head .c-history .b-block_list:hover,
.profile-head .c-history > div:hover:last-child,
.profile-head .c-info .c-additionals:hover,
.profile-head .c-info .c-lists-info .b-stats_bar:hover,
.profile-head .c-mobile-actions:hover {
  -webkit-box-shadow: inset 2px 2px 5px rgba(154,147,140,.5),1px 1px 5px #fff;
  box-shadow: inset 2px 2px 5px rgba(154,147,140,.5),1px 1px 5px #fff;
  background: #ececec;
  border: 1px transparent solid
}
.profile-content .block.achievements .cc-2 .c-column:hover .title,
.profile-content .cc-2.block .c-left .activity:hover .title,
.profile-content .cc-2.block .c-left .lifetime:hover .label,
.profile-head .c-brief .avatar .profile-actions a:hover::before,
.profile-head .c-brief .head:hover h1,
.profile-head .c-info .c-lists-info .b-stats_bar:hover .title,
.profile-head .c-mobile-actions a:hover {
  background: -webkit-gradient(linear,left top,right top,from(#b347bb),color-stop(6.25%,#9a5fbe),color-stop(12.5%,#9b5ebe),color-stop(18.75%,#688ec4),color-stop(25%,#5c9cc8),color-stop(31.25%,#51a8ca),color-stop(37.5%,#44b5cb),color-stop(43.75%,#32c8cf),color-stop(50%,#32c8cf),color-stop(56.25%,#44b5cb),color-stop(62.5%,#51a8ca),color-stop(68.75%,#5c9cc8),color-stop(75%,#688ec4),color-stop(81.25%,#9b5ebe),color-stop(87.5%,#9a5fbe),to(#b347bb)) 0 center/400% auto;
  background: linear-gradient(to right,#b347bb 0,#9a5fbe 6.25%,#9b5ebe 12.5%,#688ec4 18.75%,#5c9cc8 25%,#51a8ca 31.25%,#44b5cb 37.5%,#32c8cf 43.75%,#32c8cf 50%,#44b5cb 56.25%,#51a8ca 62.5%,#5c9cc8 68.75%,#688ec4 75%,#9b5ebe 81.25%,#9a5fbe 87.5%,#b347bb 100%) 0 center/400% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: slide 4s linear 0s infinite forwards;
  animation: slide 4s linear 0s infinite forwards
}
.profile-content .about.block,
.profile-content .block.achievements .cc-2,
.profile-content .block.achievements .cc-achievements .b-achievement,
.profile-content .block.achievements .cc-achievements .b-achievement::after,
.profile-content .block.achievements .cc-authors .b-achievement,
.profile-content .block.achievements .cc-authors .b-achievement::after,
.profile-content .block.achievements .cc-franchises .b-badge::before,
.profile-content .block.achievements .cc-franchises a,
.profile-content .block.achievements img,
.profile-content .block:last-child .b-comments,
.profile-content .block:last-child .b-comments .b-comment,
.profile-content .block:last-child .b-comments .b-comment img,
.profile-content .block:last-child .b-topic,
.profile-content .block:last-child > * > .editor-container > .b-form,
.profile-content .cc-2.block .c-left .activity,
.profile-content .cc-2.block .c-left .activity .graph,
.profile-content .cc-2.block .c-left .activity .graph .bar,
.profile-content .cc-2.block .c-left .lifetime,
.profile-content .cc-2.block .c-left .lifetime .bar .first,
.profile-content .cc-2.block .c-left .lifetime .bar .third,
.profile-content .cc-2.block .c-right .b-clubs,
.profile-content .cc-2.block .c-right .b-clubs a,
.profile-content .cc-2.block .c-right .cc-favourites,
.profile-content .cc-2.block .c-right .cc-favourites a,
.profile-content .cc-2.block .c-right .cc-friends,
.profile-content .cc-2.block .c-right .cc-friends a,
.profile-content .cc-2.block .c-right img,
.profile-head .c-brief .avatar .profile-actions,
.profile-head .c-brief .avatar .profile-actions a,
.profile-head .c-brief .avatar img,
.profile-head .c-brief .head,
.profile-head .c-history .b-block_list,
.profile-head .c-history .b-block_list .entry,
.profile-head .c-history .b-block_list .entry .image-name,
.profile-head .c-history .b-block_list .entry .image-name img,
.profile-head .c-history > div:last-child,
.profile-head .c-history > div:last-child .entry,
.profile-head .c-history > div:last-child .entry .image-name,
.profile-head .c-history > div:last-child .entry .image-name img,
.profile-head .c-info .c-additionals,
.profile-head .c-info .c-lists-info .b-stats_bar,
.profile-head .c-info .c-lists-info .b-stats_bar .bar :first-child,
.profile-head .c-info .c-lists-info .b-stats_bar .bar :first-child:last-child,
.profile-head .c-info .c-lists-info .b-stats_bar .bar :last-child,
.profile-head .c-info .c-lists-info .b-stats_bar .stat_names .stat_name a,
.profile-head .c-mobile-actions,
.profile-head .c-mobile-actions a {
  background-clip: padding-box
}
.profile-content .cc-2.block .c-left .lifetime .bar .first,
.profile-head .c-info .c-lists-info .b-stats_bar .bar :first-child {
  border-radius: 5px 0 0 5px
}
.profile-content .cc-2.block .c-left .lifetime .bar .third,
.profile-head .c-info .c-lists-info .b-stats_bar .bar :last-child {
  border-radius: 0 5px 5px 0
}
.profile-content .about.block,
.profile-content .block.achievements .cc-2,
.profile-content .block.achievements .cc-franchises .b-badge::before,
.profile-content .block:last-child .b-comments,
.profile-content .block:last-child > * > .editor-container > .b-form,
.profile-content .cc-2.block .c-right .b-clubs,
.profile-content .cc-2.block .c-right .cc-favourites,
.profile-content .cc-2.block .c-right .cc-friends,
.profile-head .c-history .b-block_list,
.profile-head .c-history > div:last-child {
  border-radius: 0 0 5px 5px
}
.profile-content .cc-2.block .c-left .activity .graph,
.profile-content .cc-2.block .c-left .activity .graph .bar {
  border-radius: 5px 5px 0 0
}
.profile-content .block.achievements .cc-achievements .b-achievement,
.profile-content .block.achievements .cc-achievements .b-achievement::after,
.profile-content .block.achievements .cc-authors .b-achievement,
.profile-content .block.achievements .cc-authors .b-achievement::after,
.profile-content .block.achievements .cc-franchises a,
.profile-content .block.achievements img,
.profile-content .block:last-child .b-comments .b-comment,
.profile-content .block:last-child .b-comments .b-comment img,
.profile-content .block:last-child .b-topic,
.profile-content .cc-2.block .c-left .activity,
.profile-content .cc-2.block .c-left .lifetime,
.profile-content .cc-2.block .c-right .b-clubs a,
.profile-content .cc-2.block .c-right .cc-favourites a,
.profile-content .cc-2.block .c-right .cc-friends a,
.profile-content .cc-2.block .c-right img,
.profile-head .c-brief .avatar .profile-actions,
.profile-head .c-brief .avatar .profile-actions a,
.profile-head .c-brief .avatar img,
.profile-head .c-brief .head,
.profile-head .c-history .b-block_list .entry,
.profile-head .c-history .b-block_list .entry .image-name,
.profile-head .c-history .b-block_list .entry .image-name img,
.profile-head .c-history > div:last-child .entry,
.profile-head .c-history > div:last-child .entry .image-name,
.profile-head .c-history > div:last-child .entry .image-name img,
.profile-head .c-info .c-additionals,
.profile-head .c-info .c-lists-info .b-stats_bar,
.profile-head .c-info .c-lists-info .b-stats_bar .bar :first-child:last-child,
.profile-head .c-info .c-lists-info .b-stats_bar .stat_names .stat_name a,
.profile-head .c-mobile-actions,
.profile-head .c-mobile-actions a {
  border-radius: 5px 5px 5px 5px
}
.profile-content .cc-2.block .c-right .b-clubs .b-club,
.profile-content .cc-2.block .c-right .cc-favourites .b-catalog_entry,
.profile-content .cc-2.block .c-right .cc-friends .b-user,
.profile-head .c-history .b-block_list .entry,
.profile-head .c-history > div:last-child .entry,
.profile-head .c-info .c-lists-info .b-stats_bar .bar * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.profile-content .cc-2.block .c-right .b-clubs::after,
.profile-content .cc-2.block .c-right .b-clubs::before,
.profile-content .cc-2.block .c-right .cc-2a::after,
.profile-content .cc-2.block .c-right .cc-2a::before,
.profile-content .cc-2.block .c-right .cc-favourites::after,
.profile-content .cc-2.block .c-right .cc-favourites::before,
.profile-content .cc-2.block .c-right .cc-friends::after,
.profile-content .cc-2.block .c-right .cc-friends::before,
.profile-content .cc-2.block::after,
.profile-content .cc-2.block::before,
.profile-head .c-brief .head .notice span::after,
.profile-head .c-brief .head .notice span::before,
.profile-head .c-info .c-lists-info .b-stats_bar .stat_names .stat_name::after,
.profile-head .c-info .c-lists-info .b-stats_bar .stat_names .stat_name::before,
.profile-head .c-info .c-lists-info .b-stats_bar::after,
.profile-head .c-info .c-lists-info .b-stats_bar::before,
.profile-head .c-mobile-actions a::after,
.profile-head .c-mobile-actions a::before,
.profile-head::after,
.profile-head::before {
  display: none!important
}
.profile-content .block:last-child .b-comments .b-comment img,
.profile-content .block:last-child .subheadline,
.profile-content .cc-2.block,
.profile-content .cc-2.block .c-left,
.profile-content .cc-2.block .c-left .activity,
.profile-content .cc-2.block .c-left .lifetime,
.profile-content .cc-2.block .c-right .b-clubs,
.profile-content .cc-2.block .c-right .b-clubs .b-club,
.profile-content .cc-2.block .c-right .cc-2a,
.profile-content .cc-2.block .c-right img,
.profile-head .c-brief,
.profile-head .c-brief .avatar,
.profile-head .c-brief .avatar .profile-actions,
.profile-head .c-brief .avatar .profile-actions a,
.profile-head .c-brief .head,
.profile-head .c-history,
.profile-head .c-history .b-block_list .entry,
.profile-head .c-history > div:last-child .entry,
.profile-head .c-info .c-lists-info .b-stats_bar {
  margin: 0!important
}
.profile-content .about.block,
.profile-content .block.achievements,
.profile-content .block.achievements .cc-2 .c-column,
.profile-content .subheadline,
.profile-head .c-info .c-additionals,
.profile-head .c-mobile-actions,
.profile-head .subheadline {
  margin-bottom: 0!important
}
.profile-content .subheadline,
.profile-head .subheadline {
  background: var(--headline-background-color);
  border: 0
}
.profile-content .about.block,
.profile-content .block.achievements .cc-2,
.profile-content .block:last-child .b-comments,
.profile-content .block:last-child .b-topic,
.profile-content .block:last-child > * > .editor-container > .b-form,
.profile-content .cc-2.block .c-right .b-clubs,
.profile-content .cc-2.block .c-right .cc-favourites,
.profile-content .cc-2.block .c-right .cc-friends,
.profile-head .c-history .b-block_list,
.profile-head .c-history > div:last-child {
  border-top: none!important;
  padding: 10px
}
.profile-content .bar .third,
.profile-head .bar .third {
  background: #d4d4d4;
  -webkit-box-shadow: inset -2px 5px 5px rgba(154,147,140,.5);
  box-shadow: inset -2px 5px 5px rgba(154,147,140,.5)
}
.profile-content .about.block {
  padding: 0 10px!important
}
.profile-content .about.block .subheadline {
  margin: 0 -10px
}
.profile-content .block.achievements .border {
  display: none
}
.profile-content .block.achievements .cc-achievements,
.profile-content .block.achievements .cc-authors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: stretch;
  align-content: stretch
}
.profile-content .block.achievements .cc-achievements .b-achievement::before,
.profile-content .block.achievements .cc-authors .b-achievement::before {
  bottom: 0
}
.profile-content .block.achievements .cc-achievements .b-achievement::after,
.profile-content .block.achievements .cc-authors .b-achievement::after {
  top: 10px;
  right: 10px;
  opacity: 1;
  color: #000;
  background: #fff
}
.profile-content .block.achievements .cc-achievements .b-achievement:only-child,
.profile-content .block.achievements .cc-authors .b-achievement:only-child {
  min-width: 48.5%;
  max-width: 100%;
  width: auto!important;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}
.profile-content .block.achievements .cc-franchises .b-badge::before {
  background: rgba(26,26,26,.4117647059);
  color: #fff;
  width: 100%!important;
  display: block!important;
  content: attr(data-progress) "%";
  position: absolute;
  text-align: center;
  inset: auto 0 0
}
.profile-head .c-brief {
  display: grid;
  grid-auto-flow: row dense;
  grid-gap: 15px
}
.profile-head .c-brief .avatar {
  grid-row: 2;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 15px;
  max-width: unset!important;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: normal;
  -ms-flex-pack: normal;
  justify-content: normal
}
.profile-head .c-brief .avatar img {
  justify-self: center;
  border: 1px var(--headline-background-color) solid
}
.profile-head .c-brief .avatar .profile-actions {
  padding: 5px 0;
  display: grid;
  grid-auto-flow: column;
  -ms-flex-line-pack: center;
  align-content: center;
  align-self: end
}
.profile-head .c-brief .avatar .profile-actions a::before {
  font-size: 20px
}
.profile-head .c-brief .head {
  padding: 10px;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1px
}
.profile-head .c-brief .head .misc {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}
.profile-head .c-brief .head .notice {
  padding: 0;
  display: grid;
  grid-auto-flow: row
}
.profile-content .block:last-child .b-comments .b-comment {
  -webkit-transition: all .3s cubic-bezier(.25,.8,.25,1);
  transition: all .3s cubic-bezier(.25,.8,.25,1);
  padding: 5px;
  margin-bottom: 10px!important;
  border: 0
}
.profile-content .block:last-child .b-comments .b-comment:last-child {
  margin-bottom: 0!important
}
.profile-content .block:last-child .b-comments .b-comment:hover {
  background: #fff
}
.profile-content .block:last-child > * > .editor-container {
  margin-top: 15px
}
.profile-head .c-history {
  width: 100%!important;
  grid-column: 1/3
}
.profile-head .c-history .b-block_list,
.profile-head .c-history > div:last-child {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
  grid-gap: 1%
}
.profile-head .c-history .b-block_list .entry,
.profile-head .c-history > div:last-child .entry {
  width: 100%!important;
  -webkit-transition: all .3s cubic-bezier(.25,.8,.25,1);
  transition: all .3s cubic-bezier(.25,.8,.25,1);
  padding: 0 5px!important;
  -webkit-box-pack: left!important;
  -ms-flex-pack: left!important;
  justify-content: left!important;
  border-top: 0!important;
  border: 0
}
.profile-head .c-history .b-block_list .entry a,
.profile-head .c-history > div:last-child .entry a {
  min-width: 200px;
  width: 100%
}
.profile-head .c-history .b-block_list .entry .image-name img,
.profile-head .c-history > div:last-child .entry .image-name img {
  margin: 2.5px 5px 2.5px 0;
  max-height: 75px!important;
  max-width: 48px!important
}
.profile-head .c-history .b-block_list .entry:hover,
.profile-head .c-history > div:last-child .entry:hover {
  text-decoration: none;
  background: #fff
}
.profile-head .c-info {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 15px
}
@supports selector(:has(*)) {
  .profile-head .c-info .grid:has(>:nth-child(2)) {
    grid-template-rows: 1fr auto
  }
}
.profile-head .c-info .c-lists-info {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 15px
}
.profile-head .c-info .c-lists-info .b-stats_bar {
  padding: 10px;
  display: grid;
  grid-template-areas: "left right" "bar bar" "stat stat";
  grid-gap: 5px
}
.profile-head .c-info .c-lists-info .b-stats_bar .compatibility {
  grid-area: right
}
.profile-head .c-info .c-lists-info .b-stats_bar .title {
  grid-area: left
}
.profile-head .c-info .c-lists-info .b-stats_bar .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-area: bar;
  height: 30px;
  overflow: visible
}
.profile-head .c-info .c-lists-info .b-stats_bar .bar * {
  vertical-align: middle;
  line-height: 100%
}
.profile-head .c-info .c-lists-info .b-stats_bar .stat_names {
  grid-area: stat;
  font-size: 14px;
  margin-bottom: -5px
}
.profile-head .c-info .c-lists-info .b-stats_bar .stat_names .stat_name {
  margin: 0 10px 5px 0;
  display: inline-grid
}
.profile-head .c-info .c-lists-info .b-stats_bar .stat_names .stat_name a {
  padding: 5px 10px
}
.profile-head .c-info .c-lists-info .b-stats_bar.anime .bar .second {
  background: #a3c2db
}
.profile-head .c-info .c-lists-info .b-stats_bar.anime .stat_name a {
  color: #4682b4;
  background-color: #ddedfb
}
.profile-head .c-info .c-lists-info .b-stats_bar.manga .stat_name a {
  color: #9f6fb1;
  background-color: #ffe1f4
}
.profile-head .c-info .c-additionals {
  padding: 10px
}
.profile-content .cc-2.block .c-right {
  width: 100%!important;
  height: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 15px
}
.profile-content .cc-2.block .c-right .cc-2a {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  padding: 0
}
.profile-content .cc-2.block .c-right .cc-2a > .c-column {
  margin-right: 0
}
.profile-content .cc-2.block .c-right .cc-2a .c-column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
.profile-content .cc-2.block .c-right .cc-2a .c-column .subheadline {
  height: 30px;
  overflow: unset!important
}
.profile-content .cc-2.block .c-right img {
  width: 100%!important;
  max-width: none!important;
  background: #fff
}
.profile-content .cc-2.block .c-right .cc-friends {
  display: grid;
  grid-template-columns: repeat(4,minmax(25px,1fr));
  grid-gap: 5px;
  height: 100%
}
.profile-content .cc-2.block .c-right .cc-friends .b-user {
  padding: 2.5px
}
.profile-content .cc-2.block .c-right .b-clubs {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 12px;
  height: 100%
}
.profile-content .cc-2.block .c-right .b-clubs .b-club {
  width: 100%!important
}
.profile-content .cc-2.block .c-right .b-clubs .b-nothing_here {
  grid-column: 1/3
}
.profile-content .cc-2.block .c-right > .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%
}
.profile-content .cc-2.block .c-right > .block .subheadline {
  height: 30px;
  overflow: unset!important
}
.profile-content .cc-2.block .c-right .cc-favourites {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit,minmax(70px,1fr));
  height: 100%
}
.profile-content .cc-2.block .c-right .cc-favourites .b-catalog_entry {
  width: 100%!important
}
.profile-head .c-mobile-actions a,
.profile-head .c-mobile-actions span {
  padding: 10px;
  font-weight: 700
}
.profile-content .cc-2.block .c-left {
  width: 100%!important;
  display: grid;
  grid-template-rows: minmax(95px,.25fr) 1fr;
  grid-gap: 15px
}
.profile-content .cc-2.block .c-left .lifetime {
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-gap: 5px;
  -ms-flex-line-pack: center;
  align-content: center
}
.profile-content .cc-2.block .c-left .lifetime .bar {
  height: 100%;
  line-height: 100%;
  padding: 1px
}
.profile-content .cc-2.block .c-left .lifetime .bar .first {
  background: #f45151;
  -webkit-box-shadow: inset 1px 1px 2px 1px rgba(255,255,255,.33);
  box-shadow: inset 1px 1px 2px 1px rgba(255,255,255,.33)
}
.profile-content .cc-2.block .c-left .lifetime .cuts .cut {
  height: 0;
  margin: 1px
}
.profile-content .cc-2.block .c-left .lifetime .times {
  padding-top: 2px
}
.profile-content .cc-2.block .c-left .activity {
  padding: 10px;
  display: grid;
  grid-template-rows: auto minmax(100px,1fr)
}
.profile-content .cc-2.block .c-left .activity .graph {
  height: auto;
  border: none!important
}
.profile-content .cc-2.block .c-left .activity .graph .bar-container::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 1px;
  height: 100%;
  background: #d4d4d4;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%)
}
.profile-content .cc-2.block .c-left .activity .graph .bar {
  background: 0 0!important
}
.profile-content .cc-2.block .c-left .activity .graph .bar .value {
  position: absolute!important;
  left: 50%;
  top: 0;
  bottom: unset!important;
  z-index: 2;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 95%!important;
  height: auto;
  aspect-ratio: 1/1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff!important;
  opacity: 0
}
.profile-content .cc-2.block .c-left .activity .graph .bar::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 95%;
  aspect-ratio: 1/1;
  background: #98c2e3;
  border-radius: 100%;
  -webkit-transform: translateX(-50%) scale(.5);
  -ms-transform: translateX(-50%) scale(.5);
  transform: translateX(-50%) scale(.5);
  -webkit-transition: background .2s ease-in-out,-webkit-transform .2s ease-in-out;
  transition: background .2s ease-in-out,-webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out,background .2s ease-in-out;
  transition: transform .2s ease-in-out,background .2s ease-in-out,-webkit-transform .2s ease-in-out
}
.profile-content .cc-2.block .c-left .activity .graph .bar:hover .value {
  display: -webkit-box!important;
  display: -ms-flexbox!important;
  display: flex!important;
  opacity: 1;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out
}
.profile-content .cc-2.block .c-left .activity .graph .bar:hover::after {
  background: #b3d7f2;
  -webkit-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1)
}
.profile-content .cc-2.block .c-left .activity .graph .bar.s0::after {
  background: #4682b4
}
.profile-content .cc-2.block .c-left .activity .graph .bar.s0:hover::after {
  background: #6295bd
}
.profile-content .cc-2.block .c-left .activity .graph .bar.s1::after {
  background: #6295bd
}
.profile-content .cc-2.block .c-left .activity .graph .bar.s1:hover::after {
  background: #79a9cf
}
.profile-content .cc-2.block .c-left .activity .graph .bar.s2::after {
  background: #79a9cf
}
.profile-content .cc-2.block .c-left .activity .graph .bar.s2:hover::after {
  background: #98c2e3
}
.profile-content .cc-2.block .c-left .activity .graph .bar.s3::after {
  background: #98c2e3
}
.profile-content .cc-2.block .c-left .activity .graph .bar.s3:hover::after {
  background: #b3d7f2
}
.profile-content .cc-2.block .c-left .activity .graph.x34 {
  display: none
}
.profile-content .cc-2.block .c-left .activity .graph.x26 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.profile-content .cc-2.block .c-left .activity:last-child {
  padding-bottom: 30px
}
.profile-head {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto 1fr;
  grid-gap: 15px;
  margin-bottom: 15px
}
.profile-content {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 15px
}
.profile-content .cc-2.block {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: .6fr .4fr
}
@media screen and (min-width:1200px) {
  .profile-content .cc-2.block .c-left .activity .graph.x34 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
  .profile-content .cc-2.block .c-left .activity .graph.x26 {
    display: none
  }
}
@media screen and (max-width:767px) {
  .profile-head .c-brief {
    grid-template-columns: auto 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: unset!important
  }
  .profile-head .c-brief .avatar {
    grid-row: 1
  }
  .profile-head .c-history {
    margin-bottom: 15px!important;
    grid-column: 1
  }
  .profile-head .c-history .b-block_list {
    display: grid;
    grid-template-columns: minmax(100px,1fr)
  }
  .profile-head .c-history .b-block_list,
  .profile-head .c-history > div:last-child {
    display: grid;
    grid-template-columns: minmax(100px,1fr)
  }
  .profile-head .c-mobile-actions {
    display: grid!important;
    grid-auto-flow: column;
    text-align: center
  }
  .profile-head {
    grid-template-columns: auto
  }
  .profile-content .cc-2.block {
    grid-template-columns: auto
  }
}