// Transition settings
$main-container-transition: box-shadow 1s cubic-bezier(0.26, 0.01, 0, 0.99),
    border 1s cubic-bezier(0.26, 0.01, 0, 0.99),
    background-color 0.7s cubic-bezier(0.31, 0, 0, 0.96), border 0.4s linear;
$shadow-transition: filter 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
$history-entry-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

// Animation settings
$text-animation-time: 4s;

// Shadow settings
$main-elements-shadow: inset 2px 2px 5px rgb(154 147 140 / 50%),
    1px 1px 5px rgb(255 255 255 / 100%);
$secondary-elements-shadow: drop-shadow(2px 2px 2px rgb(154 147 140 / 30.7%));
$secondary-elements-shadow-hover: drop-shadow(5px 6px 3px rgb(0 0 0 / 14.5%))
    drop-shadow(2px 5px 2px rgb(0 0 0 / 22%));
$stat-names-shadow-hover: drop-shadow(5px 4px 3px rgb(0 0 0 / 14.5%))
    drop-shadow(2px 6px 3px rgb(0 0 0 / 13.5%));

// Variables
$main-border-radius: 13px;
$border-radius: 5px;
$small-border-radius: 2px;
$main-padding: 13px;
$padding: 8px;
$small-padding: 4px;

// lifetime bar settings
$lifetime-speed: 4s;
$lifetime-pattern-repeat-width: 80;
$lifetime-stripe-width: calc($lifetime-pattern-repeat-width * 1px);
$lifetime-fundamental-base: calc(1px * sqrt(2 * pow($lifetime-pattern-repeat-width, 2)));
$lifetime-gradient-background: repeating-linear-gradient(135deg, transparent, transparent calc($lifetime-stripe-width / 2), #f45151 calc($lifetime-stripe-width / 2), #f45151 $lifetime-stripe-width);
$lifetime-background: #cf4e4e;

// achievements settings
$achievements-speed: 4s;
$achievements-pattern-repeat-width: 80;
$achievements-stripe-width: calc($achievements-pattern-repeat-width * 1px);
$achievements-fundamental-base: calc(1px * sqrt(2 * pow($achievements-pattern-repeat-width, 2)));
$achievements-gradient-background: repeating-linear-gradient(135deg, transparent, transparent calc($achievements-stripe-width / 2), #50c2f6 calc($achievements-stripe-width / 2), #50c2f6 $achievements-stripe-width);
$achievements-background: #4cb5e5;
$achievements-100-gradient-background: repeating-linear-gradient(135deg, transparent, transparent calc($achievements-stripe-width / 2), #f4c651 calc($achievements-stripe-width / 2), #f4c651 $achievements-stripe-width);
$achievements-100-background: #e9bd4d;
$achievements-none-gradient-background: repeating-linear-gradient(135deg, transparent, transparent calc($achievements-stripe-width / 2), #cecece calc($achievements-stripe-width / 2), #cecece $achievements-stripe-width);
$achievements-none-background: #c1c1c1;

// Profile settings
$head-height: 91px;
$avatar-width: 160px;
$avatar-mobile-width: 120px;
$profile-actions-height: 34px;
$head-title-height: 30px;
$head-misc-height: 14px;
$head-title-mobile-height: 30px;
$head-misc-mobile-height: 14px;
$head-image-offset-x: 30%;
